#welcomeText{
	text-align: center;
	font-family: 'Quicksand', sans-serif;
}
#teamsInfo{
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	}

#lblSurname{
		font-family: 'Quicksand', sans-serif;
	}
	
#lblName{
		font-family: 'Quicksand', sans-serif;
	}

#congratulationsText{
	text-align: center;
	font-family: 'Quicksand', sans-serif;
}
#area3 {
  text-align: center;
  display: block;
  position: absolute;
  z-index: 1;
  padding-top: 2%;
  top: 10%;
  left: 9%;
  width: 80%;
  background-color: #b64a58;
  opacity: 0.8;
  border: dotted;
	font-family: 'Quicksand', sans-serif;
}
#spinner{
    width:40%;
	font-family: 'Quicksand', sans-serif;
}
/*------------------------------------*/
#spinner{
    width:617px;
    height:617px;
	font-family: 'Quicksand', sans-serif;
}
#area1 {
  display: block;
  position: absolute;
  z-index: 1;
  padding-top: 2%;
  top: 10%;
  left: 9%;
  width: 80%;
  background-color: #b64a58;
  opacity: 0.8;
  border: dotted;
	font-family: 'Quicksand', sans-serif;
}
#area2 {
  display: block;
  position: absolute;
  z-index: 1;
  padding-top: 2%;
  top: 10%;
  left: 9%;
  width: 80%;
  background-color: #b64a58;
  opacity: 0.8;
  border: dotted;
	font-family: 'Quicksand', sans-serif;
}