#score {
  font-size: 40px;
}

#welcomeText{
	text-align: center;
}
#teamsInfo{
	text-align: center;
}
#congratulationsText{
	text-align: center;
}
#area3 {
  text-align: center;
  display: block;
  position: absolute;
  z-index: 1;
  padding-top: 2%;
  top: 10%;
  left: 7%;
  width: 80%;
  background-color: #b64a58;
  opacity: 0.8;
  border: dotted;
  padding: 10px;
  box-shadow: 5px 10px 8px #000;
}
#spinner{
    width:40%;
}
/*------------------------------------*/
#spinner{
    width:617px;
    height:617px;
}
#gameInfo {
    background-color: white;
    font-family: 'Quicksand', serif;
  display: none;
  position: absolute;
  z-index: 1;
  left: 88%;
  text-align: right;
  opacity: 0.7;
}
#area1 {
  display: block;
  position: absolute;
  z-index: 1;
  padding-top: 2%;
  top: 10%;
  left: 7%;
  width: 80%;
  background-color: #b64a58;
  opacity: 0.8;
  border: dotted;
	padding: 10px;
box-shadow: 5px 10px 8px #000;
}
#area2 {
  display: block;
  position: absolute;
  z-index: 1;
  padding-top: 2%;
  top: 10%;
  left: 7%;
  width: 80%;
  background-color: #b64a58;
  opacity: 0.8;
  border: dotted;
	padding: 10px;
box-shadow: 5px 10px 8px #000;
}
