#score {
  font-size: 40px;
}

#welcomeText{
	text-align: center;
}
#teamsInfo{
	text-align: center;
}
#congratulationsText{
	text-align: center;
}
#area3 {
  text-align: center;
  margin-left: auto; 
  margin-right: auto;
   display: block;
  position: relative;
  z-index: -1;
  padding: 2%;
  border-radius: 5px;
  width: 70%;
  background-color: #c43f56;
  opacity: 0.8;
  border: dotted;
	
box-shadow: 2px 2px 30px #000;
}
#spinner{
    width:40%;
}
/*------------------------------------*/
#spinner{
    width:617px;
    height:617px;
}
#gameInfo {
    background-color: white;
    font-family: 'Quicksand', serif;
  display: none;
  position: absolute;
  z-index: 1;
  left: 88%;
  text-align: right;
  opacity: 0.7;
}
#area1 {
  text-align: center;
  margin-left: auto; 
  margin-right: auto;
   display: block;
  position: relative;
  z-index: -1;
  padding: 2%;
  border-radius: 5px;
  width: 70%;
  background-color: #c43f56;
  opacity: 0.8;
  border: dotted;
	
box-shadow: 2px 2px 30px #000;
}
#area2 {
  text-align: center;
  margin-left: auto; 
  margin-right: auto;
   display: block;
  position: relative;
  z-index: -1;
  padding: 2%;
  border-radius: 5px;
  width: 70%;
  background-color: #c43f56;
  opacity: 0.8;
  border: dotted;
	
box-shadow: 2px 2px 30px #000;
}
