@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);

body {
  font-family: "Quicksand", serif;
  font-weight: 300;
  font-size: 16px;

  color: #333;
  background: #eee;
}

input,
button {
  font-family: "Quicksand", serif;
  font-weight: 300;
  font-size: 16px;
  border: 0;
  padding: 3px 5px;
  border-radius: 3px;
  /*background: #fff;*/
}
.animation {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.wrapper {
  /*width: 80%;*/
  /*padding: 10%;*/
  /*margin: 20px auto;*/
  /*background: #fff;*/
  /*padding-bottom: 100%;*/
}

.container {
  position: relative;
  float: left;
  width: 48%;
  height: 500px;
  margin: 10px 10px 10px 4%;
  background: #fff; /*verde*/
  /* Set the depth of the elements */
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  /*padding-bottom: 10%;*/
}

.container:first-child {
  background: transparent;
  margin-left: 25%;
  /*padding-bottom: 10%;*/
}

#restartPopup {
  background: #555555;
  border-radius: 15px;
  border: 2px solid #555555;
}

#card {
  width: 100%;
  position: absolute;
  /* Set the transition effects */
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  padding: 35px 15px;
  border-radius: 6px;
  box-shadow: 3px 5px 10px 2px rgb(0 0 0 / 25%);
}

#card:hover {
  box-shadow: 3px 5px 20px 2px rgba(0, 0, 0, 0.25);
}

#area3 .cards #card {
  /*background-image: url("./../img/card back.jpg");*/
}

#card.flipped {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  /* background-image: url("./../img/card back.jpg"); */
}

#card #front,
#card #back {
  display: block;
  text-align: center;
  padding-bottom: 20px;
  /* position: absolute; */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.formItem:first-child {
  /*margin-top: 20px;*/
}
#card #back label {
  display: inline-block;
  text-align: center;
}
#card #front {
  display: block;
  cursor: pointer;
  transition: o.2s;
  padding: 35px 15px 50px;
  border-radius: 6px;
  font-size: 22px;
}
/*
#card #front: hover {
  cursor: pointer;
  background: rgba(170, 0, 43, 0.5);
}
*/
#card #back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.container:first-child #card #front {
  transition: 0.2s;
  /* background: #eee; */
}

.container:first-child #card #back {
  /* background-image: url("./../img/card back.jpg"); */
}

.content {
  padding: 4%;
  font-weight: 100;
  text-align: left;
}

#logo {
  /* position: absolute;
  bottom: 8px;
  right: 16px; */
  margin-top: 60px;
  text-align: right;
}

#area1QuestionsDiv {
  text-align: center;
  font-family: "Quicksand";
  font-size: 16px;
  width: 100%;
}

#area1QuestionColumn {
  width: 100%;
  text-align: right;
  margin: 10px;
}
#area1AnswersColumn {
  width: 100%;
  text-align: left;
  margin: 10px;
  font-family: "Quicksand";
  font-size: 16px;
}

#area1Table {
  text-align: center;
  font-family: "Quicksand";
  font-size: 16px;
  table-layout: fixed;
  border: none !important;
}

#area2Table {
  text-align: center;
  font-family: "Quicksand";
  font-size: 16px;
  table-layout: fixed;
  border: none !important;
}

#area2QuestionColumn {
  width: 100%;
  text-align: right;
  margin: 10px;
}
#area2LblQuestion {
}
#area2QuestionsDiv {
}

#area2AnswersColumn {
  width: 100%;
  text-align: left;
  margin: 10px;
}
#area2LblAnswers {
}
#area2AnswersDiv {
}

#nameInput {
  text-align: center;
  font-family: "Quicksand";
  font-size: 16px;
  border-radius: 15px;
  border: 2px solid #555555;
  transition: 0.3s;
  width: 180px;
}
#surnameInput {
  text-align: center;
  font-family: "Quicksand";
  font-size: 16px;
  border-radius: 15px;
  border: 2px solid #555555;
  transition: 0.3s;
  width: 180px;
}

#teamInfo {
  font-family: "Quicksand", serif;
  display: none;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
  padding: 2%;
  border-radius: 5px;
  width: 50%;
  opacity: 0.9;
  border-width: 3px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.3);
}

#teamName {
  text-align: center;
  font-family: "Quicksand";
  font-size: 16px;
  border-radius: 15px;
  border: 2px solid #555555;
  transition: 0.3s;
  width: 180px;
}
#joinTeam {
  font-family: "Quicksand";
  font-size: 16px;
  background-color: white;
  color: black;
  border-radius: 15px;
  border: 2px solid #555555;
  transition: 0.3s;
  cursor: pointer;
  width: 196px;
}
#joinTeam:hover {
  font-family: "Quicksand";
  font-size: 16px;
  background-color: #555555;
  color: white;
  border-radius: 15px;
  border: 2px solid #555555;
  cursor: pointer;
  width: 90px;
}

#welcomeText {
  text-align: center;
}
#teamsInfo {
  text-align: center;
}
#congratulationsText {
  text-align: center;
}
#area3 {
  text-align: center;
  font-color: #000;
  margin-left: auto;
  margin-right: auto;
  display: none;
  position: relative;
  z-index: 1;
  padding: 2%;
  border-radius: 10px;
  width: 50%;
  /*background-color: #c43f56;*/
}
#spinner {
  width: 40%;
  cursor: pointer;
  width: 617px;
  height: 617px;
  transition: 0.3s;
}
/*------------------------------------*/

#lblWheelInfo {
  text-transform: uppercase;
  color: #000;
  border-width: 3px;
  border-color: #771929;
  background-color: rgba(255, 255, 255, 0.3);
  width: 194px;
  padding: 0 15px 15px;
  display: inline-block;
  margin-top: 15px;
  line-height: 20px;
  padding-bottom: 25px;
}

#gameInfo {
  background-color: white;
  font-family: "Quicksand", serif;
  display: none;
  position: absolute;
  z-index: 1;
  left: 88%;
  text-align: right;
  opacity: 0.5;
}
#area1 {
  display: none;
  font-family: "Quicksand", serif;
  color: black;

  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
  padding: 2%;
  border-radius: 5px;
  width: 70%;
  background-color: #eee;
  opacity: 0.8;
  border-width: 3px;
  border-color: #771929;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.3);
}

#area1LabelsTable {
  display: flex;
}

#area1LblQuestion {
  width: 100%;
}
#area1LblAnswers {
  width: 100%;
}

#area1BtnsTable {
  display: flex;
  table-layout: fixed;
}

#beforeBtnDivArea1 {
  width: 100%;
}
#nextBtnDivArea1 {
  width: 100%;
}
#area2Info{
  font-size: 120%;
}


#area2 {
  display: none;
  font-family: "Quicksand", serif;
  color: black;

  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
  padding: 2%;
  border-radius: 5px;
  width: 70%;
  background-color: #eee;
  opacity: 0.8;
  border-width: 3px;
  border-color: #771929;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.3);
}

button.btnSend {
  display: inline-block;
  min-width: 100px;
  padding: 3px 5px;
  margin-top: 10px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #03446a;
  background: #fff;
  border: 0;
  border-radius: 3;
}

#restartPopup {
  position: absolute;
  z-index: 30;
  display: none;
  color: #fff;
  text-align: center;

  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
#restartBtn {
  width: 20%;
}

#rulesLink {
  position: right;
  font-family: "Quicksand", serif;
  color: #a48f8c;
  text-decoration: none;
}

.voteLeaderBtn {
  font-family: "Quicksand";
  font-size: 16px;
  background-color: white;
  color: black;
  border-radius: 15px;
  border: 2px solid #555555;
  transition: 0.3s;
  cursor: pointer;
  width: 210px;
}

.voteLeaderBtn:hover {
  font-family: "Quicksand";
  font-size: 16px;
  background-color: #555555;
  color: white;
  border-radius: 15px;
  border: 2px solid #555555;
  cursor: pointer;
  width: 190px;
}

#scores {
  z-index: 1;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.lblOption {
}
.lblOptionFinal {
  color: white;
  background-color: black;
}

.topic {
  text-align: right;
  font-family: Quicksand, serif;
  font-size: 200%;
  color: black;
}

.inputRadioOption {
  cursor: pointer;
  transition: 0.2s;
}

.inputRadioOption:hover {
  background: black;
}

.otherAnswers {
  position: absolute;
}

#question {
}

.lblScore {
  font-size: 300%;
}

#label.lblResponse {
  transform: italic;
}

#beforeBtnDivArea1 {
  cursor: pointer;
  transition: 0.2s;
}
#beforeBtnDivArea1:hover {
  color: red;
}

#nextBtnDivArea1 {
  cursor: pointer;
  transition: 0.2s;
}
#nextBtnDivArea1:hover {
  color: red;
}

#nextBtnDivArea2 {
  cursor: pointer;
  transition: 0.2s;
}
#nextBtnDivArea2:hover {
  color: red;
}

#nextBtnDivArea3 {
  cursor: pointer;
  transition: 0.2s;
}
#nextBtnDivArea3:hover {
  color: red;
}

#lbl_question_option_0 {
  border: 2px solid #fff;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.4s;
}

#lbl_question_option_1 {
  border: 2px solid #fff;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.4s;
}

#lbl_question_option_2 {
  border: 2px solid #fff;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.4s;
}

#lbl_question_option_3 {
  border: 2px solid #fff;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.4s;
}

#lbl_question_option_4 {
  border: 2px solid #fff;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.4s;
}

#lbl_question_option_5 {
  border: 2px solid #fff;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.4s;
}

#lbl_question_option_0:hover {
  border: 2px solid black;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
}

#lbl_question_option_1:hover {
  border: 2px solid black;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
}

#lbl_question_option_2:hover {
  border: 2px solid black;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
}

#lbl_question_option_3:hover {
  border: 2px solid black;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
}

#lbl_question_option_4:hover {
  border: 2px solid black;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
}

#lbl_question_option_5:hover {
  border: 2px solid black;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
}

#lbl_question_option_6 {
  display: none;
}

.optionSelected {
  transition: 0.4s;
  color: white;
  background-color: black;
  border: 2px solid black;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
}
.optionSelected:hover {
  transition: 0.4s;
  color: white;
  border: 2px solid black;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
}
.optionNoSelected:hover {
  transition: 0.4s;
  color: black;
  cursor: pointer;
  border: 2px solid black;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
}

#lblArea {
  font-size: 300%;
  color: #000;

  text-decoration: none;
  text-transform: uppercase;

  display: inline-block;
  position: relative;

  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.3) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.3) 70%
  );
  -webkit-mask-size: 200%;
  animation: shine 2s linear infinite;
}

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}

#lblLightBoxArea1Header {
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 10px;
  display: inline-block;
  position: relative;

  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(255, 255, 255, 0.4) 30%,
    #eee 50%,
    rgba(255, 255, 255, 0.4) 70%
  );
  -webkit-mask-size: 200%;
  animation: shine 2s linear infinite;
}

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}

.area1 .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
}

#circleText {
  text-decoration: none;
  text-transform: uppercase;

  display: inline-block;
  position: relative;

  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(255, 255, 255, 0.4) 30%,
    #eee 50%,
    rgba(255, 255, 255, 0.4) 70%
  );
  -webkit-mask-size: 200%;
  animation: shine 2s linear infinite;
}

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}

/*New style*/
.overInfo {
  background-color: rgba(0, 0, 0, 0.5);
  color: #f9f9f9;
  border: 1px solid #333;
  border-radius: 4px;
  font-size: 14px;
  padding: 6px 12px;
  font-weight: 100;
}

div#right-sidebar {
  position: absolute;
  right: 0;
}

element.style {
  display: block;
}
#gameInfo {
  position: static;
}

#beforeBtnDivArea1,
#beforeBtnDivArea2,
#beforeBtnDivArea3,
#nextBtnDivArea1,
#nextBtnDivArea2,
#nextBtnDivArea3 {
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  margin: 0px auto;
  padding: 10px 4px;
  border-radius: 6px;
  /* background: #0f77ca; */
  color: #000;
  margin-top: 25px;
}

#beforeBtnDivArea1:hover,
#beforeBtnDivArea2:hover,
#beforeBtnDivArea3:hover,
#nextBtnDivArea1:hover,
#nextBtnDivArea2:hover,
#nextBtnDivArea3:hover {
  color: red;
  /* background: #0f77ca; */
}

#beforeBtnDivArea1 i,
#beforeBtnDivArea2 i,
#beforeBtnDivArea3 i,
#nextBtnDivArea1 i,
#nextBtnDivArea2 i,
#nextBtnDivArea3 i {
  /* font-size: 24px; */
}

#beforeBtnDivArea1 span,
#beforeBtnDivArea2 span,
#beforeBtnDivArea3 span,
#nextBtnDivArea1 span,
#nextBtnDivArea2 span,
#nextBtnDivArea3 span {
  font-size: 24px;
  margin-right: 8px;
  position: relative;
  top: -4px;
}

label.lblScore {
  display: block;
  width: 100%;
}

#score-wrapper {
  display: block;
  width: 100%;
  margin: 25px 0;
}

.voteLeaderBtn:focus,
input:focus {
  outline: none;
  border-color: #0f77ca;
}

.voteLeaderBtn {
  display: inline-block !important;
}

#area1Table,
#area2Table,
#area3Table {
  flex-wrap: wrap;
}

#area1QuestionColumn,
#area2QuestionColumn,
#area3QuestionColumn {
  text-align: left;
  background: #ccc;
  padding: 15px;
  border-radius: 4px;
}

#area1LblAnswers,
#area2LblAnswers,
#area3LblAnswers {
  display: block;
}

#question {
  color: #000;
  font-weight: bold;
}

#area1AnswersDiv > div,
#area2AnswersDiv > div,
#area3AnswersDiv > div {
  display: inline-block;
  margin-bottom: 12px;
  padding: 8px 14px !important;
  border-color: #ccc !important;
  width: 96%;
}

#area1AnswersDiv > div:hover,
#area2AnswersDiv > div:hover,
#area3AnswersDiv > div:hover {
  /* background: #2196f3;
  color: #fff;
  border-color: #167bcc !important; */
  border-color: #000 !important;
}

.optionSelected {
  background: #4caf50;
}

.lblScore {
  color: #ff9800;
}

#area1,
#area2,
#area3 {
  max-width: 800px;
}

#area1LblQuestion,
#area2LblQuestion,
#area3LblQuestionP{
  text-align: left;
  margin-top: 15px;
}
#area1LblAnswers,
#area2LblAnswers,
#area3LblAnswers {
  text-align: left;
  margin-left: 12px;
  margin-top: 15px;
}

.personalEvaluation .lblOption,
.personalEvaluation .lblOptionFinal {
  text-align: left;
  padding: 15px !important;
  margin: 10px 0;
}

#area1AnswersColumn > div,
#area2AnswersColumn > div,
#area3AnswersColumn > div {
  display: flex;
  width: 100%;
}

#area3 .cards #card #back {
  display: none;
}

#card.flipped #front {
  display: none;
}

#area3 .cards #card.flipped #back {
  display: block;
}
